

<section class="content">
    <article>
        <header class="gradient-2">
            <div class="overlay" style="background-image: url(/images/header-1.jpg);"></div>
            <div class="excerpt">
                <h1><a asp-controller="Home" asp-action="About" title="About me">About me</a></h1>
                <p>Hi there, I’m <b>Mattias</b>, a software developer living and working in <b>Stockholm, Sweden</b>.</p>
                <span class="meta">Published <b>Dec 24, 2017</b></span>
            </div>
        </header>



        <div class="body">

            <h2>What I do</h2>
            <p>
                Right now I'm working part time as a software developer in small team at <a href="http://www.educationsmediagroup.com">Educations Media Group</a>
                where we develop and sell a platform to larger corporations where we handle the search, contact, and billing
                of educations.
            </p>
            <p>
                Earlier I was part of the core team where we host a handful of public platforms for searching for educations, all in the range of privately paid courses to
                university studies.
            </p>
            <p>
                We build applications in <a href="https://www.asp.net/">ASP.NET</a>, <a href="https://docs.microsoft.com/en-us/dotnet/framework/wcf/whats-wcf">WCF</a> and a numerous of other, often Microsoft technologies. Also leveraging
                <a href="https://aws.amazon.com/">AWS</a> as our cloud platform provider.
            </p>
            <h2>
                Quick history
            </h2>
            <p>
                I grew up in the suburbs on Stockholm, then went off to study Microsofts .Net echosystem at Nackademin in Solna, and all the cool technologies related to it.
                I have had a great time learning the .Net stack, and engaging in the great community that comes with it.
                I quickly got in contact with <a href="http://www.educationsmediagroup.com">Educations Media Group</a>, where I have been spending some time as an intern and had a
                chance to work extra during school.

            </p>
        </div>
    </article>
</section>
<style>
    .body {
        width: 634px;
        margin: 0 auto;
        padding: 38px 0 34px;
        word-wrap: break-word;
    }
</style>
