<style>
    .body {
        width: 634px;
        margin: 0 auto;
        padding: 38px 0 34px;
        word-wrap: break-word;
    }
</style>

<section class="content">
    <article>
        <header class="gradient-2">
            <div class="overlay" style="background-image: url(/images/header-1.jpg);"></div>
            <div class="excerpt">
                <h1><a asp-controller="Home" asp-action="About" title="About me">About me</a></h1>
                <p>Hi there, I’m <b>Mattias</b>, a software developer living and working in <b>Stockholm, Sweden</b>.</p>
                <span class="meta">Published <b>Dec 24, 2017</b></span>
            </div>
        </header>



        <div class="body">

            <h2>What I do</h2>
            <p>
                I'm working as a software developer in small team at <a href="//findcoursespro.com">FindCourses PRO</a>
                where we develop and sell a platform to larger corporations where we handle the search, contact, and billing
                of trainings.
            </p>
            <p>
                We build applications in <a href="https://www.asp.net/">ASP.NET</a>, <a href="https://docs.microsoft.com/en-us/dotnet/framework/wcf/whats-wcf">WCF</a> and a numerous of other, often Microsoft technologies. Also leveraging
                <a href="https://aws.amazon.com/">AWS</a> as our cloud platform provider.
            </p>
            <h2>
                Quick history
            </h2>
            <p>
                I grew up in the suburbs of Stockholm, then went off to study Microsofts .Net echosystem at Nackademin in Solna, and all the cool technologies related to it.
                I have had a great time learning the .Net stack, and engaging in the great community that comes with it.
            </p>
        </div>
    </article>
</section>

