<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Blog_Project_Discovery.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <rewrite>  
        <rules>  
          <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
            <match url="(.*)" />  
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^mattiasjosephsson\.azurewebsites\.net$" />
            </conditions>
            <action type="Redirect" url="https://www.mattiasjosephsson.com/{R:0}" />  
          </rule>  
        </rules>  
    </rewrite>  
  </system.webServer>
</configuration>
<!--ProjectGuid: dfb55116-805d-4e50-9b7e-9e4c1bb77dac-->